.CCL-main-wrapper {
  overflow-x: hidden;
  margin: 0;
  width: 100%; }

.container-one {
  margin-top: 50px;
  background-color: #04548c; }

.Case-Study-Container {
  height: 400px;
  width: 100%; }

#CCL-title-wrap {
  height: 300px;
  width: 700px;
  margin-top: 80px;
  margin-left: 300px;
  margin-right: 40%;
  position: absolute;
  text-align: center;
  color: white; }

#CCL-title-text-one {
  font-size: 40px; }

#CCL-title-text-two {
  font-size: 30px;
  margin-top: 20px; }

#ccl-mac {
  height: 800px;
  margin-top: -200px;
  margin-left: 120px;
  position: absolute; }

#ccl-view {
  height: 494px;
  width: 810px;
  margin-top: -57px;
  margin-left: 251px;
  position: absolute; }

#laptop-dash {
  height: 1px;
  width: 100%;
  border: 1px dashed #d35a52;
  position: absolute;
  z-index: 10;
  margin-top: 390px; }

#CCL-intro-wrap {
  height: 200px; }

#CCL-intro {
  color: #646464;
  font-size: 20px;
  font-family: "soleil", 'Oxygen', sans-serif;
  width: 820px;
  height: 300px;
  margin-top: 150px;
  margin-left: 270px; }

#CCL-services {
  background-color: #01a884;
  height: 440px; }

#services-image img {
  width: 500px;
  height: 380px;
  margin-left: 180px;
  font-size: 0;
  float: left;
  margin-top: 20px;
  margin-bottom: 20px; }

.services-dilb {
  display: inline-block; }

#services-right-wrap {
  height: 400px;
  position: absolute; }

#services-title {
  color: white;
  font-size: 30px;
  margin-left: 100px;
  letter-spacing: 2px;
  margin-top: 80px; }

.services-bulliets {
  color: white;
  font-size: 20px;
  margin-top: 1em;
  letter-spacing: 2px;
  margin-left: 100px;
  font-family: "soleil", 'Oxygen', sans-serif; }

.assessment-results-screen {
  margin-top: -5px;
  width: 100%;
  height: 200px;
  background-color: #f2f2f2;
  position: absolute; }

#ccl-assessment-results-screen {
  margin-top: -5px;
  width: 100%;
  height: 200px;
  background-color: #f2f2f2;
  position: absolute; }

#border-line-two {
  height: 30px;
  margin-top: 35px;
  border-top: 1px dashed #d35a52; }

#assessment-results-screen-text {
  font-size: 50px;
  color: #04548c;
  width: 100%;
  text-align: center;
  margin-top: 80px; }

#CCL-assessment-results-wrap {
  margin-top: 195px;
  height: 400px;
  width: 100%; }

.CCL-assessment-results-blocks {
  float: left;
  width: calc(100% / 2);
  display: inline-block;
  height: 100%; }

#CCL-results-before-carret {
  position: absolute;
  margin-top: 95px;
  left: 47%;
  font-size: 140px;
  color: #04548c; }

#CCL-assessment-results-block-two {
  background-color: #04548c;
  float: right;
  color: white;
  font-size: 20px; }

.before {
  font-size: 25px;
  margin-top: 60px;
  margin-left: 147px; }

.after {
  margin-top: 100px; }

.before-text {
  width: 400px;
  line-height: 30px;
  margin-left: 150px; }

.before-after {
  font-size: 25px;
  margin-top: 60px;
  float: left;
  margin-left: 150px;
  padding-bottom: 20px; }

#CCL-assessment-results-block-one {
  background-color: #e1e1e1; }
  #CCL-assessment-results-block-one img {
    height: 300px;
    width: 500px;
    margin-top: 50px;
    float: right;
    margin-right: 12%; }

#CCL-assessment-results-block-one-after {
  background-color: #04548c;
  color: white;
  font-size: 20px; }

#CCL-assessment-results-block-two-after {
  background-color: #e1e1e1; }
  #CCL-assessment-results-block-two-after img {
    height: 300px;
    width: 500px;
    margin-top: 50px;
    margin-left: 12%; }

#CCL-results-after-carret {
  position: absolute;
  margin-top: 95px;
  left: 49%;
  font-size: 140px;
  color: #04548c; }

.goal-setting-screen {
  margin-top: -5px;
  width: 100%;
  height: 200px;
  background-color: #f2f2f2;
  position: absolute; }

#goal-setting-screen-text {
  font-size: 50px;
  color: #04548c;
  width: 100%;
  text-align: center;
  margin-top: 80px; }

#border-line-three {
  height: 30px;
  margin-top: -212px;
  border-top: 1px dashed #d35a52; }

.results-footer {
  width: 100%;
  height: 350px;
  font-size: 30px; }

#results-title {
  text-align: center;
  font-size: 40px;
  margin-top: 50px;
  width: 170px;
  margin-left: 37%;
  padding-bottom: 40px; }

#results-p {
  font-size: 20px;
  width: 60%;
  margin-left: 20%;
  margin-top: 20px; }

#view-more {
  font-size: 30px;
  margin-top: 70px;
  text-align: center;
  color: black;
  width: 170px;
  height: 40px;
  padding-top: 8px;
  border: 2px solid black;
  border-radius: 0em;
  margin-left: 37%; }

a {
  text-decoration: none !important; }

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) {
  .CCL-main-wrapper {
    overflow-x: hidden;
    margin: 0;
    width: 100%; }

  .container-one {
    margin-top: 50px;
    background-color: #04548c; }

  .Case-Study-Container {
    height: 400px;
    width: 100%; }

  #CCL-title-wrap {
    height: 300px;
    width: 700px;
    margin-top: 100px;
    margin-left: 140px;
    margin-right: 40%;
    position: absolute;
    text-align: center;
    color: white; }

  #CCL-title-text-one {
    font-size: 60px; }

  #CCL-title-text-two {
    font-size: 45px;
    margin-top: 20px; }

  #ccl-mac {
    height: 600px;
    margin-top: 10px;
    margin-left: 90px;
    position: absolute; }

  #ccl-view {
    height: 384px;
    width: 607px;
    margin-top: 115px;
    margin-left: 188px;
    position: absolute; }

  #laptop-dash {
    height: 1px;
    width: 100%;
    border: 1px dashed #d35a52;
    position: absolute;
    z-index: 10;
    margin-top: 390px; }

  #CCL-intro-wrap {
    height: 1000px; }

  #CCL-intro {
    color: #646464;
    font-size: 50px;
    font-family: "soleil", 'Oxygen', sans-serif;
    width: 810px;
    height: 300px;
    margin-top: 180px;
    margin-left: 90px; }

  #CCL-services {
    background-color: #01a884;
    height: 1340px; }

  #services-image img {
    width: 100%;
    height: 600px;
    margin-left: 0px;
    font-size: 0;
    float: left;
    margin-top: -15px;
    margin-bottom: 20px;
    position: absolute; }

  .services-dilb {
    display: inline-block; }

  #services-right-wrap {
    height: 800px;
    position: absolute; }

  #services-title {
    color: white;
    font-size: 60px;
    margin-left: 90px;
    letter-spacing: 2px;
    margin-top: 700px; }

  .services-bulliets {
    color: white;
    font-size: 50px;
    margin-top: 1em;
    letter-spacing: 2px;
    margin-left: 90px;
    font-family: "soleil", 'Oxygen', sans-serif; }

  .assessment-results-screen {
    margin-top: -5px;
    width: 100%;
    height: 200px;
    background-color: #f2f2f2;
    position: absolute; }

  #ccl-assessment-results-screen {
    margin-top: -5px;
    width: 100%;
    height: 200px;
    background-color: #f2f2f2;
    position: absolute; }

  #assessment-results-screen-text {
    font-size: 50px;
    color: #04548c;
    width: 100%;
    text-align: center;
    margin-top: 80px; }

  #CCL-assessment-results-wrap {
    height: 600px;
    width: 100%; }

  .CCL-assessment-results-blocks {
    float: none;
    width: 100%;
    display: block;
    height: 100%; }

  #CCL-results-before-carret {
    display: none;
    position: absolute;
    margin-top: 95px;
    left: 47%;
    font-size: 140px;
    color: #04548c; }

  #CCL-assessment-results-block-two {
    background-color: #04548c;
    float: none;
    color: white;
    font-size: 20px;
    padding-top: 10px; }

  .before {
    font-size: 50px;
    padding-top: 10px;
    margin-left: 100px; }

  .before-text {
    width: 70%;
    line-height: 50px;
    margin-left: 150px;
    font-size: 45px; }

  .before-after {
    font-size: 45px;
    margin-top: 60px;
    float: right;
    margin-right: 770px;
    padding-bottom: 20px; }

  .big-after {
    height: 600px; }

  #CCL-assessment-results-block-one {
    background-color: #e1e1e1;
    height: 600px;
    margin-top: 100px; }
    #CCL-assessment-results-block-one img {
      height: 600px;
      width: 100%;
      margin-top: 0px;
      margin-left: 0px;
      float: none; }

  #CCL-assessment-results-block-one-after {
    background-color: #04548c;
    height: 600px;
    color: white;
    font-size: 20px;
    margin-top: 1200px; }

  #CCL-assessment-results-block-two-after {
    background-color: #e1e1e1;
    margin-top: -1200px; }
    #CCL-assessment-results-block-two-after img {
      height: 600px;
      width: 100%;
      margin-top: 0px;
      margin-left: 0%; }

  #CCL-results-after-carret {
    display: none;
    position: absolute;
    margin-top: 95px;
    left: 49%;
    font-size: 140px;
    color: #04548c; }

  .goal-margin {
    height: 200px;
    width: 100%; }

  .goal-setting-screen {
    width: 100%;
    height: 200px;
    background-color: #f2f2f2; }

  #goal-setting-screen-text {
    font-size: 50px;
    color: #04548c;
    width: 100%;
    text-align: center;
    margin-top: 80px; }

  #border-line-three {
    height: 30px;
    margin-top: -212px;
    border-top: 1px dashed #d35a52; }

  .results-footer {
    width: 100%;
    height: 800px;
    font-size: 50px; }

  #results-title {
    text-align: center;
    font-size: 65px;
    margin-top: 270px; }

  #results-p {
    font-size: 50px;
    width: 85%;
    margin-left: 8%;
    margin-top: 20px; }

  #view-more {
    font-size: 50px;
    margin-top: 70px;
    text-align: center;
    color: black;
    width: 320px;
    height: 65px;
    padding-top: 10px;
    border: 2px solid black;
    border-radius: 1em;
    margin-left: 255px; }

  a {
    text-decoration: none !important; } }

/*# sourceMappingURL=CCL.css.map */
