


$menu-font-color: rgb(126, 109, 133);
$menu-font: 'Roboto', sans-serif;

$home-intro-font: 'Slabo 27px', serif;

$arrow-foot: rgb(48, 47, 51);
$green-arrow: rgb(1, 168, 132);

$note-blue: rgb(0, 80, 141);




#CH-mac {
  height: 800px;
  width: 1000px;
  margin-top: -200px;
  left: 600px;
  position: absolute;
  // z-index: -50;

}
#CH-view {
  height: 494px;
  width: 756px;
  margin-top: -57px;
  left: 722px;
  // margin-left: 292px;
  position: absolute;
}
#CH-intro-wrap {
  height: 500px;
  color: rgb(100, 100, 100);
}
#CH-intro {
  color: rgb(100, 100, 100);
  font-size: 20px;
  width: 500px;
  margin-top: 150px;
  margin-left: 140px;
  line-height: 1.5em
}
#ch-assessment-results-screen {
  background-color: white;
  height: 100px;
  margin-top: -100px;
}
.ch-iteration-container {
  height: 150px;
  width: 100%;
  float: left;
  background-color: rgb(242, 242, 242);
  font-size: 45px;
  color: #04548c;
  position: relative;
    .ch-iteration-title {
      text-align: center;
      margin-top: 60px;
      position: absolute;
    }
}
#ch-first-iteration-title {
  margin-left: 40%;
}
#ch-second-iteration-title {
  top: 80px;
  margin-left: 37.5%;
}
#ch-second-iteration {
  height: 220px;
}
#second-iteration-body {
  margin-top: 120px;
}
.ch-iteration-image-wrap {
  margin-left: 250px;
  .ch-iteration-image-container {
    width: 420px;
    height: 320px;
    display: inline-block;
    float: left;
    margin-top: 240px;
    position: absolute;
    z-index: 100;
    // box-shadow: 3px 3px 5px 6px #ccc;
      img {
        height: inherit;
        width: inherit;
      }
  }
  #ch-iteration-image-container-2 {
    margin-left: 460px;
  }
}
#ch-iteration-image-wrap-1 {

}
#ch-iteration-image-wrap-2 {

}
#CH-services {
  background-color: $green-arrow;
  // height: 1400px;
 //  margin-bottom: 1000px;
}
#ch-services-title {
    color: white;
    font-size: 30px;
    margin-left: 100px;
    letter-spacing: 2px;
    margin-top: 80px;
}
.ch-services-bulliets {
    color: white;
    font-size: 20px;
    margin-top: 1em;
    letter-spacing: 2px;
    margin-left: 100px;
    font-family: "soleil", 'Oxygen', sans-serif;
}

#ch-services-image img {
    width: 500px;
    height: 360px;
    margin-left: 140px;
    font-size: 0;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ch-assessment-results-screen-desktop {
  margin-top: 100px;
}
#ch-assessment-results-screen {

  background-color: rgb(242, 242, 242);
}


.ch-iteration-image-container-2 {
  width: 420px;
  height: 320px;
  display: inline-block;
  float: left;
  margin-top: -100px;
  position: absolute;
  z-index: 100;
  // box-shadow: 3px 3px 5px 6px #ccc;
    img {
      height: inherit;
      width: inherit;
    }
  }

.ch-iteration-text-body {
    position: absolute;
    color: #04548c;
    margin-top: 40px;
    width: 660px;

    .ch-iteration-challenge {
      font-size: 25px;
      font-weight: 600;
      line-height: 22px;
    }
    .ch-iteration-text {
      font-size: 22px;
      margin-top: 20px;

    }
}

.ch-b4 {
  margin-top: 150px;
  height: 340px;
  background-color: rgb(233, 233, 233);

}
.ch-after {
  margin-top: 150px;
  height: 400px;
  background-color: rgb(233, 233, 233);
}
#ch-final {
  font-size: 25px;
  margin-top: 60px;
  margin-left: 100px;
}
#blue-buffer {
  background-color: blue;
}
#CH-assessment-results-block-one {
  background-color: white;
    img {
      height: 360px;
      width: 87%;
      margin-top: 20px;
      margin-left: 30px;
    }
}
#CH-assessment-results-block-two {
  background-color: $Work-Blue;
  float: right;
  color: white;
  font-size: 20px;

}
#CH-assessment-results-block-two-first-iteration {
  background-color: white !important;
  float: right;
  // color: white;
  font-size: 20px;
  img {
    height: 360px;
    width: 87%;
    margin-top: 20px;
    margin-left: 30px;
  }
}
#ch-after-titles-2 {
  font-size: 50px;
  text-align: center;
  color: $green-arrow;
  background: rgb(242, 242, 242);
  height: 160px;
  // overflow: hidden;
    div {
      padding-top: 180px;
    }
}
#ch-assessment-results-block-two-after {
  background-color: rgb(242, 242, 242);
      img {
        height: 300px;
        width: 500px;
        margin-top: 50px;
        margin-left: 100px;
        position: absolute;
      }
}

#blue-buffer-2-mobile {
  background-color: $note-blue;
  margin-top: 400px;
  display: none;
}
#mobile-iteration-2-image-1 {
  display: none;
  margin-top: 500px;
}
.mobile-container-2 {
  margin-top: 50px;
  display: none;
}
.ch-final-iteration-block {
  margin-top: 0px;
}
.ch-final-iteration {
  height: 0px;
  width: 0%;
}
#final-iteration-text {
  margin-top: 0px;
}

@media only screen
   and (min-device-width: 375px)
   and (max-device-width: 667px)
   and (-webkit-min-device-pixel-ratio: 2) {


     #CH-mac {
       height: 800px;
       width: 900px;
       margin-top: 0px;
       left: 4%;
       position: absolute;
       // z-index: -50;

     }

     #CH-view {
       height: 494px;
       width: 686px;
       margin-top: 144px;
       left: 15%;
       // margin-left: 292px;
       position: absolute;
     }
     #CH-intro-wrap {
       height: 700px;
     }
     #CH-intro {
       color: rgb(100, 100, 100);
       font-size: 50px;
       width: 90%;
       margin-top: 800px;
       margin-left: 6%;
     }
     #CH-services {
       background-color: $green-arrow;
       height: 1400px;
       margin-top: 250px;
      //  margin-top: 1000px;
      //  margin-bottom: 1000px;
     }
     #ch-sitemap {
       margin-top: 200px;
     }
     #ch-sitemap-text-title {
      font-size: 50px;
      width: 80%;
      line-height: 40px !important;
      // margin-left: -8%;
     }
     #ch-sitemap-text {
      font-size: 50px;
      width: 80%;
      margin-left: 9%;
      margin-top: 20px;
     }
     #CH-assessment-results-wrap {
       height: 600px;
       width: 100%;
       margin-top: 1300px;
     }
     #ch-assessment-results-screen {
       background-color: white;
       height: 100px;
       display: none;
     }
     .ch-iteration-container {
       height: 150px;
       width: 100%;
       float: left;
       background-color: rgb(242, 242, 242);
       font-size: 45px;
       color: #04548c;
       position: relative;
         .ch-iteration-title {
           text-align: center;
           margin-top: 60px;
           position: absolute;
         }
     }
     #ch-second-iteration {
       height: 820px;
     }
     #ch-first-iteration-title {
       margin-left: 35%;
       font-size: 50px;
     }
     #ch-second-iteration-title {
       top: 640px;
       margin-left: 37%;
     }
     #ch-second-iteration-text {
       margin-top: 600px;

     }
     #second-iteration-body {
       margin-top: 120px;
     }
     .ch-iteration-image-wrap {
       margin-left: 200px;
       width: 100%;
       .ch-iteration-image-container {
         width: 1000px;
         height: 600px;
         display: block;
         float: none;
         margin-top: 640px;
         position: absolute;
         z-index: 100;
         // box-shadow: 3px 3px 5px 6px #ccc;
           img {
             height: inherit;
             width: 100%;
           }
       }
       #ch-iteration-image-container-1 {
        //  margin-bottom: -400px;
       }
       #ch-iteration-image-container-2 {
         margin-left: 0px;
         margin-top: 1400px;
       }

     }
     #ch-iteration-image-wrap-1 {
        // margin-top: 400px;
     }
     #ch-iteration-image-wrap-2 {

     }
     .ch-iteration-image-container-2 {
       width: 100%;
       height: 600px;
       display: inline-block;
       float: left;
       margin-top: -100px;
       position: absolute;
       z-index: 100;
       // box-shadow: 3px 3px 5px 6px #ccc;
         img {
           height: inherit;
           width: 100%;
         }
       }

     .ch-iteration-text-body {
         position: absolute;
         color: #04548c;
         margin-top: 270px;
         width: 85%;
         margin-left: 200px;

         .ch-iteration-challenge {
           font-size: 45px;
           font-weight: 600;
           line-height: 22px;
         }
         .ch-iteration-text {
           font-size: 40px;
           margin-top: 60px;

         }
     }

     .ch-b4 {
       margin-top: 550px;
       margin-left: -200px;
       height: 1240px;
       background-color: rgb(233, 233, 233);

     }
     .ch-after {
       margin-top: 150px;
       height: 400px;
       margin-left: -200px;
       background-color: rgb(233, 233, 233);
     }
     #ch-final {
       font-size: 50px;
       margin-top: 0px;
       padding-top: 50px;
       margin-left: 100px;
     }
     #blue-buffer {
       background-color: blue;
     }
     #blue-buffer-2-mobile {
       background-color: $note-blue;
       margin-top: 1100px;
       display: block;
     }
     #mobile-iteration-2-image-1 {
       display: block;
       margin-top: 500px;
     }
     .mobile-container-2 {
       margin-top: 0px;
       display: block;
     }
     #CH-assessment-results-block-one {
       background-color: white;
         img {
           height: 600px;
           width: 100%;
           margin-top: 0px;
           margin-left: 0px;
         }
     }
     #CH-assessment-results-block-two {
       background-color: $Work-Blue;
       float: right;
       color: white;
       font-size: 20px;

     }
     #CH-assessment-results-block-two-first-iteration {
       background-color: white !important;
       float: right;
       // color: white;
       font-size: 20px;
       img {
         height: 360px;
         width: 87%;
         margin-top: 20px;
         margin-left: 30px;
       }
     }
     #ch-after-titles-2 {
       font-size: 50px;
       text-align: center;
       color: $green-arrow;
       background: rgb(242, 242, 242);
       height: 160px;
       // overflow: hidden;
         div {
           padding-top: 180px;
         }
     }
     #ch-assessment-results-block-two-after {
       background-color: rgb(242, 242, 242);
           img {
             height: 300px;
             width: 500px;
             margin-top: 50px;
             margin-left: 12%;
           }
     }


    .ch-final-iteration-block {
      margin-top: -760px;
    }
    #ch-assessment-results-block-two-after {
      .ch-final-iteration{
        img {

        height: 600px;
        width: 100%;
        position: absolute;
        margin-left: 0;
        margin-top: 0;

         }
       }
     }

     #ch-results-footer {
       margin-top: 900px;
     }

    #footer-ch-mobile {
      margin-top: -250px;
    }
    .mobile-margin-ch {
      margin-top: -1100px;
    }

    #ch-services-image img {
        width: 1000px;
        height: 600px;
        margin-left: 0px;
        font-size: 0;
        float: left;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    #ch-services-title {
        color: white;
        font-size: 55px;
        margin-left: 100px;
        letter-spacing: 2px;
        margin-top: 80px;
    }
    .ch-services {
      position: absolute;
      margin-top: 50px;
      width: 100%;
      left: 40px;
    }
    .ch-services-bulliets {
        color: white;
        font-size: 50px;
        margin-top: 1em;
        letter-spacing: 2px;
        margin-left: 100px;
        font-family: "soleil", 'Oxygen', sans-serif;
    }
    #ch-view-more {
      font-size: 50px;
      margin-top: 70px;
      text-align: center;
      color: black;
      width: 320px;
      height: 65px;
      padding-top: 10px;
      border: 2px solid black;
      border-radius: 1em;
      margin-left: 335px;
    }

 }
